body {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url('../images/w05_circles.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom -10px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #000000;
}

.gray-background {
    text-align: center;
    padding: 50px 0;
    margin: 0;
    background-color: #737373;
    &::after {
        content: '';
        width: 100%;
        display: inline-block;
        height: 0;
    }
}

.gray-background img {
    display: inline-block;
    margin: 0 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #444444;
    object-fit: cover;
}