.banner {
    background-image: url('images/w05_circles.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 50px;
    color: #000000;
    text-align: right;
}

.banner h1{
    margin: 0;
}

.banner h3{
    margin: 0;
}

.gray-background {
    text-align: justify;
    padding: 50px 0;
    background-color: #737373;
    &::after {
        content: '';
        width: 100%;
        display: inline-block;
        height: 0;
    }
}

.gray-background img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #444444;
    object-fit: cover;
}