body {
    font-family: serif;
    background-color: #5CA1D7;
    color: #ffffff;
    font-size: 16px;
}

h1 {
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}

h1:hover {
    color: #000000;
    text-align: center;
}

.quote {
    font-family: serif;
    text-align: center;
}

.author {
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
}

ol {
    color: #000000;
    font-family: sans-serif;
}